@use "sass:map";

@use "@/styles/abstracts/" as *;

.not_found {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: 50vh;
    gap: #{map.get($spacing, 5)};
    padding: #{map.get($spacing, 5)};

    @include media-phone {
      padding: #{map.get($spacing, 2)};
    }
  }

  &-back-btn {
    @include btn;
  }
}
